.calculator {
    width: 150px;
    text-align: center;
    color: rgb(77, 20, 20);
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);

}
.addition-button {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.substraction-button {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.multiplication-button {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.division-button {
    font-size: large;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.exp-button {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.sqr-button {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.sqrt-button {
    cursor: pointer;
    color: rgb(0, 0, 0);
}